// Styling for the clear search icon
.t-Form-inputContainer, .a-GV-columnItem {
  .fcs-search-clear,
  .fcs-search-clear-lg {
    order: 3;
    align-self: center;
    height: 14px;
    margin-right: -14px;
    font-size: 14px;
    cursor: pointer;
    z-index: 1;
  }
  .fcs-search-clear {
    transform: translateX(-50px);
  }
  .fcs-search-clear-lg {
    transform: translateX(-60px);
  }
}
.u-RTL .t-Form-inputContainer .fcs-search-clear, .u-RTL .a-GV-columnItem .fcs-search-clear {
  left: 20px;
  margin-left: -14px;
  right: unset;
}

.a-GV-columnItem {
  .u-Processing.u-Processing--inline {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 1;
  }
}
.fcs-modal-lov-container {
  display: inline-flex;
  width: 100%;
}
.apex-item-text.fcs-modal-lov {
  padding-right: 50px;
  flex: none;
}


.fcs-modal-lov-button {
  order: 4;
  transform: translateX(-30px);
  border-left: 1px solid rgb(0 0 0 / 13%) !important;
  border-bottom: none !important;
  border-right: none !important;
  border-top: none !important;
  box-shadow: none !important;
  background: transparent !important;
  z-index: 1;
}

// Styling for the modal LOV
.modal-lov {
  display: flex;
  flex-direction: column;
  .no-padding {
    padding: 0;
  }
  .t-Form-fieldContainer {
    flex: 0;
  }
  .t-DialogRegion-body {
    flex: 1;
    overflow-y: auto;
  }
  .u-Processing.u-Processing--inline {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }
  .t-Form-inputContainer input.modal-lov-item,
  .t-Form-inputContainer input.modal-lov-item-lg {
    margin: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .t-Form-inputContainer input.modal-lov-item {
    padding-right: 35px !important;
  }
  .t-Form-inputContainer input.modal-lov-item-lg {
    padding-right: 65px !important;
  }

  .modal-lov-table {
    .t-Report-colHead {
      text-align: left;
    }
    .t-Report-cell {
      cursor: pointer;
    }
    .hover .t-Report-cell {
      background-color: inherit !important;
    }
    .mark .t-Report-cell {
      background-color: inherit !important;
    }
  }

  .t-ButtonRegion-col {
    width: 33%;
  }
}

.u-RTL .modal-lov {
  .modal-lov-table {
    .t-Report-colHead {
      text-align: right;
    }
  }
}

// Support for Interactive Grid
.a-GV-columnItem .apex-item-group {
  width: 100%;
}
.a-GV-columnItem .oj-form-control {
  max-width: none;
  margin-bottom: 0;
}

// Using class apex-item-text as well as fcs-readonly-item gives it priority over the theme
.apex-item-text {
  .fcs-modal-lov-readonly-item {
    color: black;
    background-color: rgb(224, 222, 222);
    opacity: 1;
    pointer-events: all;
  }
  .fcs-modal-lov-readonly-item:hover {
    background-color: rgb(224, 222, 222);
  }
  .fcs-modal-lov-readonly-item:focus {
    background-color: rgb(224, 222, 222) !important;
  }
}
